.pill {
  background-color: transparent;
  color: #00b074;
  border: 1px solid #00b074;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.pill:hover {
  opacity: 0.9;
}

.pill:active {
  opacity: 0.7;
}

.pill svg {
  margin-right: 10px;
}

.full {
  width: 100%;
}
