@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Poppins'),
    url('/fonts/poppins/Poppins-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: local('Poppins'), local('Poppins'),
    url('/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins'), local('Poppins'),
    url('/fonts/poppins/Poppins-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Poppins'),
    url('/fonts/poppins/Poppins-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins'), local('Poppins'),
    url('/fonts/poppins/Poppins-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins'), local('Poppins'),
    url('/fonts/poppins/Poppins-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: local('Poppins'), local('Poppins'),
    url('/fonts/poppins/Poppins-Black.ttf') format('truetype'); /* Safari, Android, iOS */
}

[class^='icon-'],
[class*=' icon-'] {
  height: 14px;
  width: 14px;
  display: inline-block;
  fill: currentColor;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: #333;
}

p {
  font-weight: 400;
  color: #ccc;
  font-size: 0.825rem;
}

span {
  font-weight: 500;
  color: #959b9a;
  font-size: 0.75rem;
}

div {
  box-sizing: border-box;
}

a {
  color: #23ab7f;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
